<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202466240303-n1kg82t32lvh4b37voelos7q6q3o5ld2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202466240303-n1kg82t32lvh4b37voelos7q6q3o5ld2</string>
	<key>API_KEY</key>
	<string>AIzaSyB4udtMUAWFzQmC1_aCDe-Tuc65KYbz-xc</string>
	<key>GCM_SENDER_ID</key>
	<string>202466240303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dars61</string>
	<key>PROJECT_ID</key>
	<string>savvy-hall-291316</string>
	<key>STORAGE_BUCKET</key>
	<string>savvy-hall-291316.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202466240303:ios:241c98066e8c0eaf27a3da</string>
</dict>
</plist>